.header {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 100px;
  margin: 0.5rem 0;
  background: #1a51a3;
  background: -webkit-linear-gradient(to right, #1a51a3 0%, #e33b4b 100%);
  background: -moz-linear-gradient(to right, #1a51a3 0%, #e33b4b 100%);
  background: linear-gradient(to right, #1a51a3 0%, #e33b4b 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  letter-spacing: -5px;
  @media screen and (max-width: 768px) {
    max-width: 90%;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 0px;
  }
}

.h2 {
  font-size: 24px;
  color: #30363a;
  font-weight: 400;
  line-height: 40px;
  max-width: 900px;
  text-align: center;
  @media screen and (max-width: 768px) {
    max-width: 90%;
  }
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.presentation {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1rem;
  color: #2a2b57;
}

.image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 1rem 0 0;
}

.span {
  color: #8e44ad;
}

.name {
  background: #1a51a3;
  background: -webkit-linear-gradient(to right, #1a51a3 0%, #e33b4b 100%);
  background: -moz-linear-gradient(to right, #1a51a3 0%, #e33b4b 100%);
  background: linear-gradient(to right, #1a51a3 0%, #e33b4b 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
