@use 'styles/colours' as *;

.Button {
  position: relative;
  border: none;
  font-size: 19px;
  padding: 1rem 2.3rem;
  border-radius: 50px;
  margin: 20px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 184px;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.buttonText {
  margin: 0 0.5rem;
}

.primary {
  background-color: $accent-color;
  color: $white-font-color;
  min-height: 64px;
  &:hover {
    transition: all 0.1s ease-in-out;
    background-color: $accent-color-light;
  }
  &:active {
    transform: scale(0.9);
  }
}

.outline {
  background-color: transparent;
  border: 1px solid $accent-color;
  color: $accent-color;
  font-weight: 500;
  min-height: 64px;

  &:active {
    transform: scale(0.9);
  }
  &:hover {
    transition: all 0.1s ease-in-out;
    background-color: $accent-color;
    color: $white-font-color;
  }
}

.secondary {
  background-color: $white-font-color;
  color: $primary-text-color;
  font-weight: 600;
  font-size: 1rem;
  min-height: 54px;

  //TODO: take out to make sizes variant
  padding: 0.7rem 2.3rem;
  &::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -10px;
    width: 110%;
    height: 120%;
    background: linear-gradient(
      45deg,
      $purple 40%,
      $accent-color 50%,
      $pink 60%,
      $accent-color-medium 75%,
      $purple 100%
    );
    background-size: 800%;
    z-index: -1;
    border-radius: 50px;
    transform: rotate(0deg);
    pointer-events: none;
    filter: blur(5px);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  &:hover {
    &::before {
      opacity: 1;
      animation: glowing 60s ease-out infinite;
    }
  }
  &:active {
    transform: scale(0.9);
  }
  &:active:before {
    transform: scale(0.9);
    background: rgb(226, 226, 226);
    filter: none;
  }
}

@keyframes glowing {
  0% {
    background-position: 400% 0;
  }
  50% {
    background-position: 800% 0;
  }
  100% {
    background-position: 400% 0;
  }
}
