.Button {
  border: none;
  font-size: 19px;
  padding: 1rem 2.3rem;
  border-radius: 50px;
  margin: 20px 10px;
  cursor: pointer;
}

.primary {
  background-color: #e33b4b;
  color: white;
  &:hover {
    background-color: #f0616f;
  }
}

.outline {
  background-color: transparent;
  border: 1px solid #e33b4b;
  color: #e33b4b;
  font-weight: 500;
}
