.worktogether,
.socialIcons {
  color: white;
  padding: 5rem 0;

  @media screen and (max-width: 768px) {
    padding: 0 0;
  }
}

.socialIcons {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 768px) {
    align-items: center;
  }
}

.buttoncontainer {
  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.email,
.github,
.twitter {
  display: flex;
  align-items: center;
}

.emailMobile,
.emailLaptop,
.githubText,
.twitterText {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.emailLaptop {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.emailMobile {
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
}

.contactMe {
  font-size: 40px;
  color: white;
  margin-bottom: 0.5rem;
}

.subTitle {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.5);
  padding: 0 0 1rem 0;
  @media screen and (max-width: 768px) {
    padding: 0 1rem;
  }
}
