@use 'styles/colours' as *;

.worktogether,
.socialIcons {
  color: $white-font-color;
  padding: 3rem 0;

  @media screen and (max-width: 768px) {
    padding: 0 0;
  }
}

.socialIcons {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 768px) {
    align-items: center;
  }
}

.contacMeHeader {
  z-index: 1;
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
}

.buttoncontainer {
  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.email,
.github,
.twitter {
  display: flex;
  align-items: center;
}

.emailMobile,
.emailLaptop,
.githubText,
.twitterText {
  color: $white-font-color;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 1.5rem 0 1.5rem 1rem;
}

.emailLaptop {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.emailMobile {
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
}

.contactMe {
  font-size: 40px;
  color: white;
  margin-bottom: 0.5rem;
}

.subTitle {
  font-size: 1.2rem;
  color: #ffffff80;
  padding: 0 0 1rem 0;
  @media screen and (max-width: 768px) {
    padding: 0 1rem;
  }
}
