.wrapper {
  max-width: 1200px;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(358px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: center;

  @media screen and (max-width: 768px) {
  }
}

.sectionTitle {
  font-size: 32px;
}
