@use 'styles/colours' as *;

.modalContentTitle {
  font-weight: 800;
  font-size: 1.8rem;
  color: $primary-text-color;
  font-family: 'Lato', sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.subtitle {
  margin: 0;
  width: 90%;
  font-size: 0.9rem;
  line-height: 1.3rem;
  color: $background-color-dark;
  font-weight: 400;
  text-align: center;
  margin: 0.5rem 0;
}
