@use 'styles/colours' as *;

.tag {
  margin: 0 0 0 0.5rem;
  padding: 0.3rem;
  border-radius: 4px;
  font-size: 0.7rem;
  font-weight: 600;
  display: inline-block;
  &:first-child {
    margin-left: 0;
  }
}

.tag-Javascript {
  background-color: #fec96b;
  color: #634615;
}

.tag-Next_js {
  background-color: #313131;
  color: $white-font-color;
}

.tag-React {
  background-color: #3998b6;
  color: $white-font-color;
}

.tag-React_Native {
  background-color: #3998b6;
  color: $white-font-color;
}

.tag-Sass {
  background-color: #cf649a;
  color: rgb(238, 238, 238);
}

.tag-PHP {
  background-color: #7a86b8;
  color: $white-font-color;
}

.tag-MySQL {
  background-color: #f29111;
  color: $white-font-color;
}

.tag-Typescript {
  background-color: #2d79c7;
  color: $white-font-color;
}

.tag-HTML {
  background-color: #e26b4b;
  color: $white-font-color;
}

.tag-CSS {
  background-color: #379ad6;
  color: $white-font-color;
}

.tag-Redux {
  background-color: #7848bc;
  color: $white-font-color;
}

.tag-Node_js {
  background-color: #68a063;
  color: $white-font-color;
}

.tag-PostgreSQL {
  background-color: #305d8d;
  color: $white-font-color;
}

.tag-Auth0 {
  background-color: #e26b4b;
  color: $white-font-color;
}

.tag-Next_Auth {
  background: linear-gradient(to right, #bb4b96, #59529d, #5271b4);
  color: $white-font-color;
}

.tag-Tailwind_CSS {
  background-color: #06b6d4;
  color: $white-font-color;
}

.tag-Express {
  background-color: #313d48;
  color: $white-font-color;
}

.tag-Expo {
  background-color: #313d48;
  color: $white-font-color;
}

.tag-Framer_Motion {
  background: linear-gradient(to right, #bb4b96, #59529d, #5271b4);
  color: $white-font-color;
}

.tag-Socket_IO {
  background-color: #25c2a0;
  color: $white-font-color;
}

.tag-default {
  background-color: #919191;
  color: $white-font-color;
}

.tag-Styled_Components {
  background-color: #d76e97;
  color: $white-font-color;
}

.error {
  color: #e74c3c;
  padding-left: 0;
}
